<div class="container rounded-container">
  <h2 class="text-center mb-5">My dashboard</h2>
  <h3 class="mt-3">Your flat(s)</h3>
  <% if current_user.flats.present? %>
    <% @flats.each do |flat| %>
      <div class="container-dashboard mt-3">
        <div class="card-flat-description-dashboard">
          <%= link_to flat_path(flat) do %>
            <h4><%= flat.title %></h4>
          <% end %>
          <p><%= flat.description %></p>
          <p>Number of guests allowed: <%= flat.number_of_guests %></p>
          <p><%= flat.price_per_day %>$ per night</p>
          <p>Address: <%= flat.address %></p>
          <div class="buttons d-flex">
            <p><%= link_to "Delete flat",
                          flat_path(flat),
                          method: :delete,
                          data: { confirm: "Are you sure?" },
                          class: "btn btn-danger mr-3" %></p>
            <p><%= link_to "Update flat", edit_flat_path(flat), class: "btn pink-btn" %></p>
          </div>
        </div>
        <% if flat.reservations.present? %>
          <h4 class="mt-3 mb-3">Your reservation(s) for <%= flat.title %></h4>
          <div class="container-cards-dashboard">
            <% flat.reservations.each do |reservation| %>
              <div class="card-reservation">
                <% if reservation.status == "pending" %>
                  <p><%= reservation.user.first_name %> <%= reservation.user.last_name %> wants to book your flat for <%= reservation.number_of_guests %> person(s) from <%= reservation.reservation_start.strftime("%B %d %Y") %> to <%= reservation.reservation_end.strftime("%B %d %Y") %>.</p>
                  <p>Status: <%= reservation.status %></p>
                  <div class="buttons">
                    <%= link_to "Accept", reservation_accept_status_path(reservation), class: "btn green-btn mr-3" %>
                    <%= link_to "Reject", reservation_reject_status_path(reservation), class: "btn violet-btn" %>
                  </div>
                <% end %>
                <% if reservation.status == "accepted" %>
                  <p>You have accepted <%= reservation.user.first_name %>'s reservation from <%= reservation.reservation_start.strftime("%B %d %Y") %> to <%= reservation.reservation_end.strftime("%B %d %Y") %>, you can now get in touch to discuss the details!</p>
                  <p>Status: <%= reservation.status %></p>
                  <div class="buttons">
                    <a class="btn pink-btn" href="mailto:<%= reservation.user.email %>"> contact <%= reservation.user.first_name %></a>
                  </div>
                <% end %>
                <% if reservation.status == "rejected" %>
                  <p>You have rejected <%= reservation.user.first_name %>'s reservation.</p>
                  <p>Status: <%= reservation.status %></p>
                <% end %>
              </div>
            <% end %>
          </div>
        <% else %>
          <p class="mt-3">You have no reservation for <%= flat.title %></p>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <p>You have no flats</p>
  <% end %>
  <%= link_to "Create a flat", new_flat_path, class: "btn blue-btn mt-3 mb-5" %>
  <h3 class="mt-3">Your reservation(s)</h3>
  <% if current_user.reservations.present? %>
    <div class="container-description mt-3">
    <div class="container-cards-dashboard">
      <% @reservations.each do |reservation| %>
        <div class="card-reservation">
          <% if reservation.status == "pending" %>
            <p>You have made a reservation for <%= link_to flat_path(reservation.flat) do %> <%= reservation.flat.title %> <% end %> for <%= reservation.number_of_guests %> person(s) from <%= reservation.reservation_start.strftime("%B %d %Y") %> to <%= reservation.reservation_end.strftime("%B %d %Y") %>, please wait for <%= reservation.flat.user.first_name %>'s confirmation.</p>
            <div>
              <p>Status: <%= reservation.status %></p>
              <div class="buttons">
                <%= link_to "Cancel",
                          reservation_path(reservation),
                          method: :delete,
                          data: { confirm: "Are you sure?" },
                          class: "btn violet-btn" %>
              </div>
            </div>
          <% end %>
          <% if reservation.status == "rejected" %>
            <p>Your reservation for <%= link_to flat_path(reservation.flat) do %> <%= reservation.flat.title %> <% end %> from <%= reservation.reservation_start.strftime("%B %d %Y") %> to <%= reservation.reservation_end.strftime("%B %d %Y") %> has been rejected by <%= reservation.flat.user.first_name %>, sorry...</p>
            <div>
              <p>Status: <%= reservation.status %></p>
              <div class="buttons">
                <%= link_to "Delete",
                            reservation_path(reservation),
                            method: :delete,
                            data: { confirm: "Are you sure?" },
                            class: "btn btn-danger" %>

              </div>
            </div>
          <% end %>
          <% if reservation.status == "accepted" %>
            <p>Your reservation for <%= link_to flat_path(reservation.flat) do %> <%= reservation.flat.title %> <% end %> from <%= reservation.reservation_start.strftime("%B %d %Y") %> to <%= reservation.reservation_end.strftime("%B %d %Y") %> has been accepted by <%= reservation.flat.user.first_name %>, you can now get in touch to discuss the details!</p>
            <div>
              <p>Status: <%= reservation.status %></p>
              <div class="buttons">
                <a class="btn pink-btn" href="mailto:<%= reservation.flat.user.email %>"> contact <%= reservation.flat.user.first_name %> </a>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    </div>
  <% else %>
    <p>You have no reservations</p>
  <% end %>
</div>
