<div class="container rounded-container">
  <h2 class="text-center mb-5">My dashboard</h2>
  <h3 class="mt-3">My flats</h3>
  <% if current_user.flats.present? %>
    <% @flats.each do |flat| %>
      <div class="container-dashboard-flat mt-3">
        <div class="row">
          <div class="col-6">
            <h5 class="text-center">My flat</h5>
            <div class="card-flat-description-dashboard">
              <%= link_to flat_path(flat) do %>
                <h4><%= flat.title %></h4>
              <% end %>
              <p><%= flat.description %></p>
              <p>Number of guests allowed: <%= flat.number_of_guests %></p>
              <p><%= flat.price_per_day %>$ per night</p>
              <p>Address: <%= flat.address %></p>
              <div class="buttons d-flex justify-content-center">
                <p><%= link_to "Delete flat",
                              flat_path(flat),
                              method: :delete,
                              data: { confirm: "Are you sure?" },
                              class: "light-red-dashboard-btn mr-3" %></p>
                <p><%= link_to "Update flat", edit_flat_path(flat), class: "pink-dashboard-btn" %></p>
              </div>
            </div>
          </div>
          <% if flat.reservations.present? %>
            <div class="col-6">
              <h5 class="text-center">My reservations for <%= flat.title %></h5>
              <div class="container-flat-reservations-dashboard">
                <% flat.reservations.each do |reservation| %>
                  <div class="card-reservation">
                    <% if reservation.status == "pending" %>
                      <div class="notif pending-notif"></div>
                      <div class="pill-container">
                        <% if reservation.reservation_end < Date.today %>
                          <p class="status-archived-pill">Status: archived</p>
                        <% else %>
                          <p class="status-pending-pill">Status: <%= reservation.status %></p>
                        <% end %>
                          <p class="resa-pill">Guest name: <%= reservation.user.first_name %> <%= reservation.user.last_name %></p>
                          <p class="resa-pill">Number of guests: <%= reservation.number_of_guests %></p>
                          <% number_of_nights = reservation.reservation_end - reservation.reservation_start %>
                          <p class="resa-pill">Stay: from <%= reservation.reservation_start.strftime("%B %d %Y") %> to <%= reservation.reservation_end.strftime("%B %d %Y") %></p>
                          <p class="resa-pill">Number of nights: <%= number_of_nights.to_i %></p>
                          <% total_cost = number_of_nights * flat.price_per_day %>
                          <p class="resa-pill">Total cost: <%= total_cost.to_i %>€</p>
                      </div>
                      <div class="buttons d-flex justify-content-center mt-1">
                        <%= link_to "Accept", reservation_accept_status_path(reservation), class: "green-small-btn mr-3" %>
                        <%= link_to "Reject", reservation_reject_status_path(reservation), class: "violet-small-btn" %>
                      </div>
                    <% end %>
                    <% if reservation.status == "accepted" %>
                      <div class="pill-container">
                        <% if reservation.reservation_end < Date.today %>
                          <p class="status-archived-pill">Status: archived</p>
                        <% else %>
                          <p class="status-accepted-pill">Status: <%= reservation.status %></p>
                        <% end %>
                          <p class="resa-pill">Guest name: <%= reservation.user.first_name %> <%= reservation.user.last_name %></p>
                          <p class="resa-pill">Number of guests: <%= reservation.number_of_guests %></p>
                          <% number_of_nights = reservation.reservation_end - reservation.reservation_start %>
                          <p class="resa-pill">Stay: from <%= reservation.reservation_start.strftime("%B %d %Y") %> to <%= reservation.reservation_end.strftime("%B %d %Y") %></p>
                          <p class="resa-pill">Number of nights: <%= number_of_nights.to_i %></p>
                          <% total_cost = number_of_nights * flat.price_per_day %>
                          <p class="resa-pill">Total cost: <%= total_cost.to_i %>€</p>
                      </div>
                      <div class="buttons d-flex justify-content-center mt-1">
                        <a class="pink-small-btn" href="mailto:<%= reservation.user.email %>">Contact <%= reservation.user.first_name %></a>
                      </div>
                    <% end %>
                    <% if reservation.status == "active" %>
                      <p>Make sure everything is ready for <%= reservation.user.first_name %> <%= reservation.user.last_name %>' stay!</p>
                      <div class="pill-container">
                        <% if reservation.reservation_end < Date.today %>
                          <p class="status-archived-pill">Status: archived</p>
                        <% else %>
                          <p class="status-accepted-pill">Status: <%= reservation.status %></p>
                        <% end %>
                          <p class="resa-pill">Guest name: <%= reservation.user.first_name %> <%= reservation.user.last_name %></p>
                          <p class="resa-pill">Number of guests: <%= reservation.number_of_guests %></p>
                          <% number_of_nights = reservation.reservation_end - reservation.reservation_start %>
                          <p class="resa-pill">Stay: from <%= reservation.reservation_start.strftime("%B %d %Y") %> to <%= reservation.reservation_end.strftime("%B %d %Y") %></p>
                          <p class="resa-pill">Number of nights: <%= number_of_nights.to_i %></p>
                          <% total_cost = number_of_nights * flat.price_per_day %>
                          <p class="resa-pill">Total cost: <%= total_cost.to_i %>€</p>
                      </div>
                      <div class="buttons d-flex justify-content-center mt-1">
                        <a class="pink-small-btn" href="mailto:<%= reservation.user.email %>">Contact <%= reservation.user.first_name %></a>
                      </div>
                    <% end %>
                    <% if reservation.status == "rejected" %>
                      <div class="pill-container">
                        <p class="status-rejected-pill">Status: <%= reservation.status %></p>
                          <p class="resa-pill">Guest name: <%= reservation.user.first_name %> <%= reservation.user.last_name %></p>
                          <p class="resa-pill">Number of guests: <%= reservation.number_of_guests %></p>
                          <% number_of_nights = reservation.reservation_end - reservation.reservation_start %>
                          <p class="resa-pill">Stay: from <%= reservation.reservation_start.strftime("%B %d %Y") %> to <%= reservation.reservation_end.strftime("%B %d %Y") %></p>
                          <p class="resa-pill">Number of nights: <%= number_of_nights.to_i %></p>
                          <% total_cost = number_of_nights * flat.price_per_day %>
                          <p class="resa-pill">Total cost: <%= total_cost.to_i %>€</p>
                      </div>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          <% else %>
            <div class="col-6">
              <h6 class="text-center">You have no reservation for <%= flat.title %></h6>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>You have no flats</p>
  <% end %>
  <%= link_to "Create a flat", new_flat_path, class: "btn blue-btn mt-3 mb-5" %>
  <h3 class="mt-3">My reservations</h3>
  <% if current_user.reservations.present? %>
    <div class="container-dashboard-reservations mt-3">
      <% @reservations.each do |reservation| %>
        <div class="card-reservation">
          <% if reservation.status == "pending" %>
            <div class="notif pending-notif"></div>
            <p>You have made a reservation for
              <%= link_to flat_path(reservation.flat) do %>
                <%= reservation.flat.title %>
              <% end %>
            </p>
            <div class="pill-container">
              <% if reservation.reservation_end < Date.today %>
                <p class="status-archived-pill">Status: archived</p>
              <% else %>
                <p class="status-pending-pill">Status: <%= reservation.status %></p>
              <% end %>
              <p class="resa-pill">Host: <%= reservation.flat.user.first_name %> <%= reservation.flat.user.last_name %></p>
              <p class="resa-pill">Number of guests: <%= reservation.number_of_guests %></p>
              <% number_of_nights = reservation.reservation_end - reservation.reservation_start %>
              <p class="resa-pill">Stay: from <%= reservation.reservation_start.strftime("%B %d %Y") %> to <%= reservation.reservation_end.strftime("%B %d %Y") %></p>
              <p class="resa-pill">Number of nights: <%= number_of_nights.to_i %></p>
              <% flat = Flat.find(reservation.flat_id) %>
              <% total_cost = number_of_nights * flat.price_per_day %>
              <p class="resa-pill">Total cost: <%= total_cost.to_i %>€</p>
            </div>
            <div class="buttons mt-1">
              <%= link_to "Cancel",
                        reservation_path(reservation),
                        method: :delete,
                        data: { confirm: "Are you sure?" },
                        class: "violet-small-btn" %>
            </div>
          <% end %>
          <% if reservation.status == "rejected" %>
            <div class="notif rejected-notif"></div>
            <p>You have made a reservation for
              <%= link_to flat_path(reservation.flat) do %>
                <%= reservation.flat.title %>
              <% end %>
            </p>
            <div class="pill-container">
              <p class="status-rejected-pill">Status: <%= reservation.status %></p>
              <p class="resa-pill">Host: <%= reservation.flat.user.first_name %> <%= reservation.flat.user.last_name %></p>
              <p class="resa-pill">Number of guests: <%= reservation.number_of_guests %></p>
              <% number_of_nights = reservation.reservation_end - reservation.reservation_start %>
              <p class="resa-pill">Stay: from <%= reservation.reservation_start.strftime("%B %d %Y") %> to <%= reservation.reservation_end.strftime("%B %d %Y") %></p>
              <p class="resa-pill">Number of nights: <%= number_of_nights.to_i %></p>
              <% flat = Flat.find(reservation.flat_id) %>
              <% total_cost = number_of_nights * flat.price_per_day %>
              <p class="resa-pill">Total cost: <%= total_cost.to_i %>€</p>
            </div>
            <div class="buttons mt-1">
              <%= link_to "Delete",
                          reservation_path(reservation),
                          method: :delete,
                          data: { confirm: "Are you sure?" },
                          class: "light-red-small-btn" %>

            </div>
          <% end %>
          <% if reservation.status == "accepted" %>
            <div class="notif accepted-notif"></div>
            <p>You have made a reservation for
              <%= link_to flat_path(reservation.flat) do %>
                <%= reservation.flat.title %>
              <% end %>
            </p>
            <div class="pill-container">
              <% if reservation.reservation_end < Date.today %>
                <p class="status-archived-pill">Status: archived</p>
              <% else %>
                <p class="status-accepted-pill">Status: <%= reservation.status %></p>
              <% end %>
              <p class="resa-pill">Host: <%= reservation.flat.user.first_name %> <%= reservation.flat.user.last_name %></p>
              <p class="resa-pill">Number of guests: <%= reservation.number_of_guests %></p>
              <% number_of_nights = reservation.reservation_end - reservation.reservation_start %>
              <p class="resa-pill">Stay: from <%= reservation.reservation_start.strftime("%B %d %Y") %> to <%= reservation.reservation_end.strftime("%B %d %Y") %></p>
              <p class="resa-pill">Number of nights: <%= number_of_nights.to_i %></p>
              <% flat = Flat.find(reservation.flat_id) %>
              <% total_cost = number_of_nights * flat.price_per_day %>
              <p class="resa-pill">Total cost: <%= total_cost.to_i %>€</p>
            </div>
            <div class="buttons mt-1">
              <%= link_to "Mark as active", reservation_active_status_path(reservation), class: "blue-small-btn mr-3" %>
            </div>
          <% end %>
          <% if reservation.status == "active" %>
            <p>Enjoy your stay at
              <%= link_to flat_path(reservation.flat) do %>
                <%= reservation.flat.title %>!
              <% end %>
            </p>
            <div class="pill-container">
              <% if reservation.reservation_end < Date.today %>
                <p class="status-archived-pill">Status: archived</p>
              <% else %>
                <p class="status-active-pill">Status: <%= reservation.status %></p>
              <% end %>
              <p class="resa-pill">Host: <%= reservation.flat.user.first_name %> <%= reservation.flat.user.last_name %></p>
              <p class="resa-pill">Number of guests: <%= reservation.number_of_guests %></p>
              <% number_of_nights = reservation.reservation_end - reservation.reservation_start %>
              <p class="resa-pill">Stay: from <%= reservation.reservation_start.strftime("%B %d %Y") %> to <%= reservation.reservation_end.strftime("%B %d %Y") %></p>
              <p class="resa-pill">Number of nights: <%= number_of_nights.to_i %></p>
              <% flat = Flat.find(reservation.flat_id) %>
              <% total_cost = number_of_nights * flat.price_per_day %>
              <p class="resa-pill">Total cost: <%= total_cost.to_i %>€</p>
            </div>
            <div class="buttons mt-1">
              <a class="btn pink-small-btn" href="mailto:<%= reservation.flat.user.email %>"> Contact <%= reservation.flat.user.first_name %> </a>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>You have no reservations</p>
  <% end %>
  <%= link_to "Browse the flats", flats_path, class: "btn blue-btn mt-3" %>
</div>
