<div class="container">
  <h2>My dashboard</h2>
  <h3>Your flat(s)</h3>
  <% if current_user.flats.present? %>
    <% @flats.each do |flat| %>
      <div class="container-description">
        <h4><%= flat.title %></h4>
        <p><%= flat.description %></p>
        <p>Number of guests allowed: <%= flat.number_of_guests %></p>
        <p><%= flat.price_per_day %>$ per day</p>
        <p>Address: <%= flat.address %></p>
      </div>
      <% if flat.reservations.present? %>
        <p>Your reservation(s) for <%= flat.title %></p>
        <div class="container-cards">
        <%= flat.reservations.each do |reservation| %>
          <div class="card-reservation">
            <% if reservation.status == "pending" %>
              <p><%= reservation.user.first_name %> <%= reservation.user.last_name %> wants to book your flat from <%= reservation.reservation_start.strftime("%B %d %Y") %> to <%= reservation.reservation_end.strftime("%B %d %Y") %>.</p>
              <p>Status: <%= reservation.status %></p>
              <div class="buttons">
                <%= link_to "Accept", reservation_accept_status_path(reservation), class: "btn btn-success mr-3" %>
                <%= link_to "Reject", reservation_reject_status_path(reservation), class: "btn btn-danger" %>
              </div>
            <% end %>
            <% if reservation.status == "accepted" %>
              <p>You have accepted <%= reservation.user.first_name %>'s reservation from <%= reservation.reservation_start.strftime("%B %d %Y") %> to <%= reservation.reservation_end.strftime("%B %d %Y") %>, you can now get in touch to discuss the details!</p>
              <p>Status: <%= reservation.status %></p>
              <div class="buttons">
                <a class="btn btn-secondary" href="mailto:<%= reservation.user.email %>"> contact <%= reservation.user.first_name %></a>
              </div>
            <% end %>
            <% if reservation.status == "rejected" %>
              <p>You have rejected <%= reservation.user.first_name %>'s reservation.</p>
              <p>Status: <%= reservation.status %></p>
            <% end %>
          </div>
        <% end %>
      </div>
      <% end %>
    <% end %>
  <% else %>
    <p>You have no flats</p>
  <% end %>
  <h3>Your reservation(s)</h3>
  <% if current_user.reservations.present? %>
    <div class="container-cards">
      <% @reservations.each do |reservation| %>
        <div class="card-reservation">
          <% if reservation.status == "pending" %>
          <p>You have made a reservation for <%= link_to flat_path(reservation.flat) do %> <%= reservation.flat.title %> <% end %> from <%= reservation.reservation_start.strftime("%B %d %Y") %> to <%= reservation.reservation_end.strftime("%B %d %Y") %>, please wait for <%= reservation.flat.user.first_name %>'s confirmation.</p>
          <p>Status: <%= reservation.status %></p>
            <div class="buttons">
              <%= link_to "Cancel",
                        reservation_path(reservation),
                        method: :delete,
                        data: { confirm: "Are you sure?" },
                        class: "btn btn-danger" %>
            </div>
          <% end %>
          <% if reservation.status == "rejected" %>
            <p>Your reservation for <%= link_to flat_path(reservation.flat) do %> <%= reservation.flat.title %> <% end %> from <%= reservation.reservation_start.strftime("%B %d %Y") %> to <%= reservation.reservation_end.strftime("%B %d %Y") %> has been rejected by <%= reservation.flat.user.first_name %>, sorry...</p>
            <div class="buttons">
              <%= link_to "Delete",
                        reservation_path(reservation),
                        method: :delete,
                        data: { confirm: "Are you sure?" },
                        class: "btn btn-danger" %>
            </div>
          <% end %>
          <% if reservation.status == "accepted" %>
            <p>Your reservation for <%= link_to flat_path(reservation.flat) do %> <%= reservation.flat.title %> <% end %> from <%= reservation.reservation_start.strftime("%B %d %Y") %> to <%= reservation.reservation_end.strftime("%B %d %Y") %> has been accepted by <%= reservation.flat.user.first_name %>, you can now get in touch to discuss the details!</p>
            <div class="buttons">
              <a class="btn btn-secondary" href="mailto:<%= reservation.flat.user.email %>"> contact <%= reservation.flat.user.first_name %> </a>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>You have no reservations</p>
  <% end %>
</div>
