<div class="container">
  <div class="container-cards">
    <% @flats.each do |flat| %>
      <div class="card-flat">
        <%= cl_image_tag flat.photos.first.key, class: "flat-image" %>
        <div class="card-flat-infos">
          <div>
            <%= link_to flat_path(flat) do %>
              <h2><%= flat.title %></h2>
            <% end %>
            <p><%= flat.address %></p>
          </div>
          <h2 class="card-trip-pricing"><%= flat.price_per_day %>$</h2>
        </div>
      </div>
    <% end %>
  </div>
  <%= link_to "Create a flat", new_flat_path, class: "btn btn-primary" %>
</div>
