<div class="container">
  <h2>Create a new flat</h2>
  <%= simple_form_for(@flat) do |f| %>
    <%= f.input :title %>
    <%= f.input :address %>
    <%= f.input :description %>
    <%= f.input :availability_start %>
    <%= f.input :availability_end %>
    <%= f.input :price_per_day %>
    <%= f.input :number_of_guests %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.submit "Create a flat", class: "btn btn-primary" %>
  <% end %>
  <%= link_to "Back to flats", flats_path, class: "btn btn-secondary mt-3" %>
</div>
