<div class="container rounded-container">
  <div class="row mb-3 mt-3">
    <div class="col-12 p-0 d-flex justify-content-center">
      <div class="container-cards-show">
        <% @flat.photos.each do |photo| %>
          <%= cl_image_tag photo.key, height: 200, width: 350, crop: :fill %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row mb-5 mt-5">
    <div class="col-6">
      <div class="card-flat-description-show">
        <h2><%= @flat.title %></h2>
        <p><%= @flat.description %></p>
        <p>Number of guests allowed: <%= @flat.number_of_guests %></p>
        <p>Price: <%= @flat.price_per_day %>€ per night</p>
        <p>Address: <%= @flat.address %></p>
        <% if @flat.amenities %>
          <p>Amenities:</p>
            <div class="pill-container">
            <% amenities = @flat.amenities.tr('["]','').split(',') %>
            <% amenities.shift %>
            <% amenities.each do |amenity| %>
              <p class="amenity-pill"><%= amenity %></p>
            <% end %>
            </div>
        <% end %>
      </div>
    </div>
    <div class="col-6">
      <% if current_user != @flat.user %>
        <h2>New reservation for <%= @flat.title %></h2>
        <p>Check the flat availability and choose your dates and number of guest(s)</p>
        <%= simple_form_for([@flat, @reservation]) do |f| %>
          <div class="d-flex align-items-center input-group">
            <%= f.input :reservation_start, as: :string, input_html: {class: "datepickerreservation form-control", value: @reservation_start }, required: true, hint: 'Cannot be blank. Reservation cannot start and end on the same day', label: "Arrival", placeholder: "Select date" %>
            <button class="btn btn-outline-secondary" type="button" id="button-addon1" onclick="document.querySelector('.datepickerreservation').value=''" class="input-group-text" style="margin-bottom: 6px; width: 38px; height: 38px; background-color: #E9ECEF">X</button>
          </div>
          <div class="d-flex align-items-center input-group">
            <%= f.input :reservation_end, as: :string, input_html: {class: "datepickerreservation2 form-control", value: @reservation_end }, required: true, hint: 'Cannot be blank. Reservation cannot start and end on the same day',label: "Departure", placeholder: "Select date" %>
            <button class="btn btn-outline-secondary" type="button" id="button-addon1" onclick="document.querySelector('.datepickerreservation2').value=''" class="input-group-text" style="margin-bottom: 7px; width: 38px; height: 38px; background-color: #E9ECEF"">X</button>
          </div>
          <div class="d-flex align-items-center">
            <%= f.input :number_of_guests, collection: 1..@flat.number_of_guests, required: true, input_html: {class: "numberofguests" }, hint: 'Cannot be blank' %>
            <button class="btn btn-outline-secondary" type="button" id="button-addon1" onclick="document.querySelector('.numberofguests').value=''" class="input-group-text" style="margin-bottom: 7px; width: 38px; height: 38px; background-color: #E9ECEF"">X</button>
          </div>
          <div class="checkout-modal"></div>
          <%= f.submit "Book the flat", class: "btn blue-btn"%>
        <% end %>
      <% end %>
    </div>
  </div>
  <div id="map"
        style="width: 100%; height: 400px;"
        data-markers="<%= @marker.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
        class="mb-5 mt-5">
      </div>
  <%= link_to 'Back', :back, class: "btn lavander-btn" %>
</div>
