<div class="container">
  <h2 class="mt-3"><%= @flat.title %></h2>
  <div class="container-cards d-flex justify-content-between">
    <% @flat.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 200, width: 300, crop: :fill %>
    <% end %>
  </div>

  <div class="container-description">
    <p><%= @flat.description %></p>
    <p>Number of guests allowed: <%= @flat.number_of_guests %></p>
    <p><%= @flat.price_per_day %>$ per day</p>
    <p>Address: <%= @flat.address %></p>
  </div>

  <% if current_user == @flat.user %>
    <p><%= link_to "Delete flat",
                    flats_path,
                    method: :delete,
                    data: { confirm: "Are you sure?" } %></p>
  <% end %>
  <%= link_to "Back to flats", flats_path %>
  <%= link_to "Book this flat", new_flat_reservation_path(@flat) %>
</div>
